@tailwind base;
@tailwind components;
@tailwind utilities;

.features p {
    margin-bottom: 1rem;
}

.features b {
    font-size: smaller;
}

.prices p {
    font-size: smaller;
    line-height: 1.5;
}

.prices ul {
    list-style-type: disc;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}