@tailwind base;
@tailwind components;
@tailwind utilities;

.features p {
    margin-top: 1rem;
    line-height: 1.25;
}

.features b {
    font-size: smaller;
}

.prices p {
    font-size: smaller;
    line-height: 1.25;
}

.prices ul {
    list-style-type: disc;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.headshot {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 240px;
}

.slide {
    position: absolute;
    top: -240px;
    height: auto;
    animation: slider 21s infinite;
    opacity: 0;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 7s;
}

.slide:nth-child(3) {
    animation-delay: 14s;
}

img {
    width: auto;
    height: auto;
}

.logo {
    width: 50px;
    height: 77px;
}

.hero img {
    width: 1112px;
    height: auto;
}

.graphic {
    width: 50px;
    height: 50px;
}

@keyframes slider {
    0%  { transform: translateY(240px); }
    10% { opacity: 1; transform: translateY(240px); }
    20% { opacity: 1; }
    40% { opacity: 0; }
    90% { opacity: 0; transform: translateY(-240px); }
    100% { transform: translateY(-240px); }
}

@layer base {
    h1, h4 {
      @apply dark:text-white !important;
    }
    h2, h3 {
      @apply dark:text-indigo-400 !important;
    }
    p {
      @apply dark:text-white !important;
    }
    .slide h3 {
      @apply dark:text-white !important;
    }
    .slide p {
      @apply dark:text-gray-400 !important;
    }
  }
  
  