@import "tailwindcss";

.features p {
    margin-top: 1rem;
    line-height: 1.25;
}

.features b {
    font-size: smaller;
}

.prices p {
    font-size: smaller;
    line-height: 1.25;
}

.prices ul {
    list-style-type: disc;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.headshot {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 240px;
}

.slide {
    position: absolute;
    top: -240px;
    height: auto;
    animation: slider 21s infinite;
    opacity: 0;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 7s;
}

.slide:nth-child(3) {
    animation-delay: 14s;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 50px;
    height: 77px;
}

.hero {
    width: 1112px;
    height: auto;
}

.graphic {
    width: 50px;
    height: 50px;
}

.chatbot img {
    margin: auto;
    width: 56px;
    height: auto;
    padding-right: 4px;
}

@keyframes slider {
    0%  { transform: translateY(240px); }
    10% { opacity: 1; transform: translateY(240px); }
    20% { opacity: 1; }
    40% { opacity: 0; }
    90% { opacity: 0; transform: translateY(-240px); }
    100% { transform: translateY(-240px); }
}

@media (prefers-reduced-motion: reduce) {
    .slideshow {
        height: auto;
    }
    .slide {
        animation: none;
        position: relative;
        top: auto;
        opacity: 1;
        margin-bottom: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    h1, p, .slide h3 {
      color: white;
    }
    h2, h3 {
      color: #7c86ff;
    }
    h4, .slide p {
      color: #99a1af;
    }
}
  
  